- var contactTitle = 'ご用件の方は、各種SNSよりご連絡お願いいたします。';
footer.footer
  .container
    p.footer__title #{pageTitle}
    p.footer__contact !{contactTitle}
    ul.footer__list
      each item in contact
        li
          a.footer__link(href=item.url, target="_blank", rel="noopener", aria-label=item.title + 'から連絡する')
            i(class='icon-'+item.icon)
    p.footer__copy &copy; !{copy}.
    a#js-return_top.footer__btn(href="#concept", aria-label="トップへ戻る")

script(src="/assets/js/main.js?20231015")
