- var sectionTitle = 'Works';
- var sectionDescription = '制作に携わった案件を一部ご紹介致します。<br>守秘義務の都合上、公開できない案件も多数あります。';
-
  var works = [
    {
      title: 'TEDORI β<br>給与試算ツール 開発',
      link: 'サイトを見る',
      url: 'https://tedori-beta.web.app/',
      img: 'tedori.png',
      date: '2020年10月頃',
      role: '個人開発',
      tags: ['git', 'angular', 'typescript', 'html5', 'sass'],
      comment: 'Angular, Firebase, Algoliaを用いて開発しました。'
    },
    {
      title: 'Mitsui&#39;s portfolio<br>ポートフォリオサイト リニューアル',
      link: 'Githubを見る',
      url: 'https://github.com/mihye1128/portfolio',
      img: 'mitsuisite.png',
      date: '2019年6月頃',
      role: '個人制作',
      tags: ['git', 'html5', 'css3', 'sass', 'javascript', 'jquery'],
      comment: '当サイトです。開発環境構築では、Gulpを採用しました。'
    },
    {
      title: '株式会社GoQSystem 様<br>サービスサイト リニューアル',
      link: 'サイトを見る',
      url: 'http://tiny.cc/m0xs4y',
      img: 'goqsystem.jpg',
      date: '2019年3月頃',
      role: 'コーディング・WP構築',
      tags: ['html5', 'css3', 'sass', 'bootstrap', 'javascript', 'jquery', 'php', 'wordpress'],
      comment: '制作会社所属時の制作物。<br>Pug、Sassを用いた案件です。フレームワークにBootstrap4を使用しています。'
    },
    {
      title: '株式会社GoQSystem 様<br>採用サイト テンプレート作成',
      link: 'サイトを見る',
      url: 'https://mitsui.recruit.site/',
      img: 'goqjobs.jpg',
      date: '2018年11月頃',
      role: 'コーディング',
      tags: ['html5', 'css3', 'javascript', 'jquery', 'php'],
      comment: '制作会社所属時の制作物。<br>採用管理ツールの開発に参画し、主に採用サイトのテーマ作成を担当しました。'
    },
    {
      title: '岩国市民文化会館 様<br>公式サイト 新規制作・CMS導入',
      link: 'サイトを見る',
      url: 'http://tiny.cc/acys4y',
      img: 'iwakunih.jpg',
      date: '2018年9月頃',
      role: 'コーディング・WP構築',
      tags: ['html5', 'css3', 'javascript', 'jquery', 'php', 'wordpress'],
      comment: '制作会社所属時の制作物。<br>イベントカレンダーには、WordPressプラグインを使用しています。'
    },
    {
      title: '株式会社GoQSystem 様<br>URL短縮ツール開発 コーディング担当',
      link: 'サイトを見る',
      url: 'http://tiny.cc/pfys4y',
      img: 'goqshortener.jpg',
      date: '2018年8月頃',
      role: 'コーディング',
      tags: ['html5', 'css3', 'javascript', 'jquery', 'php'],
      comment: '制作会社所属時の制作物。<br>サービスサイト・管理画面のコーディングを担当しました。'
    }
  ];

section#works.sec.works
  +sectionTitle(sectionTitle)
  +sectionDiscription(sectionDescription)

  .container-box.works--list
    each work in works
      article.js-fadein.works--item
        .works--imgs
          .works--img(style='background-image: url(/assets/img/works/'+work.img+')')
          .works--more
            | !{work.link}
            i.icon-external-link
          .works--role #{work.role}
          .works--tags
            each tag in work.tags
              i(class='works--icon icon-'+tag)
        .works--contents
          h3.works--name !{work.title}
          p.works--disc !{work.comment}
          dl.works--data
            dt.works--dt 公開時期
            dd.works--dd #{work.date}
        a.works--link(href=work.url, target="_blank", rel="noopener", aria-label=work.link)
